<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>New framework created.</h3>
    <h1><%= @framework.title %></h1>
    <p>
        <strong>Description:</strong> <br>
        <%= @framework.description %>
    </p>
    <br>
    <p>
        You've created a new framework on <%= @url %> <br>
        In order to see this changes, please, visit this
        website.
    </p>
    <p>
        Thanks for be part of this amazing team and have a great day!
    </p>
  </body>
</html>
