<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>New framework created:</h4>
    <h1><%= @framework.title %></h1>
    <p>
        <strong>Description:</strong> <br>
        <%= @framework.description %>
    </p>
    <br>
    <p>
        You've created a new framework on <%= @url %> <br>
        In order to see this changes, please, visit this
        website.
    </p>
    <p>
        Thanks for be part of this amazing team and have a great day!
    </p>
    <p>
      <strong>Here goes my image</strong> <br>
      <%= image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Y_Combinator_logo.svg/1200px-Y_Combinator_logo.svg.png', width: 50) %>
    </p>
  </body>
</html>
